

$schmersal-blue: #00377b;
$schmersal-dark-blue: #012a5c;
$light-blue: #aec4df;
$grey-blue: #46647c;
$grey: #f6f6f6;
$medium-grey: #d8d8d8;
$black-no-black: #121212;

$light-red: #ff8b97;
$red: #dc3545;
$dark-red: #a11e2b;
$yellow: #ffc107;
$dark-yellow: #b18504;
$cyan: #0dcaf0;
$green: #198754;
$light-green: #3BD16F;
$dark-green: #115837;

$primary: $schmersal-blue;
$primary-dark: $schmersal-dark-blue;
$secondary: $light-blue;
$secondary-dark: $grey-blue;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $cyan;


$padding-horizontal: 50px;
$padding-horizontal-mobile: 20px;
$padding-horizontal-sm: 30px;
$padding-horizontal-md: 50px;



