@import "../../../styles/variables";
@import "../../../styles/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.homeColetorPage{
    display: flex;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    vertical-align: center;
    height: 100%;
    background-color: #D9D9D9;

    .box{
        margin: auto;
        border-radius: 30px;
        width: 90%;
        height: 90%;
        padding-left: 10px;
        padding-right: 10px;
       
        label{
            font-size: 1rem;
            font-weight:500;
            color: #34408E;
            width: 90%;
        }
        .botoesLinha{
            display: flex;
            text-align: center;
            vertical-align: center;   
            margin-top: 3vh;            
        }

        .botoesIndividuaisEsquerda{
            width: 50vw;
            margin-right: 10px;
        }
        .botoesIndividuaisDireita{
            width: 50vw;
            height: 25vh;
        }

        .botaoSair{
            position: absolute;
            bottom: 2vh;
            right: 30px;
            width: 40vw;
        }
    }
}